.first{
    background-image: url(../images/background3.avif);
    font-family: 'Itim', cursive;
}

.intro{
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 58px;
    text-align: center;
    color: white;
}

.choice{
    color: #1A7FC1;
}

#personal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 193px;
    gap: 20px;

    position: absolute;
    width: 490px;
    height: 68px;
    left: 540px;
    top: 400px;
    background: #1A7FC1;
    border-radius: 15px;
    white-space: nowrap;
    font-family: 'itim';
}

#group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 193px;
    gap: 20px;

    position: absolute;
    font-family: 'itim';
    width: 490px;
    height: 68px;
    left: 540px;
    top: 500px;

    background: #1A7FC1;
    border-radius: 15px;
    white-space: nowrap;
}

#lec{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 193px;
    gap: 20px;

    position: absolute;
    width: 490px;
    height: 68px;
    left: 540px;
    top: 600px;
    background: #1A7FC1;
    border-radius: 15px;
    font-family: 'itim';
}

.choose{
    width: 28px;
    height: 38px;
    font-style: normal;
    font-weight: 100;
    font-size: 21px;
    line-height: 38px;
   
/* identical to box height */

    color: #FFFFFF;


/* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.triangle{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 100px;
    top: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.square{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 1245px;
    top: 4px;
}

.Circle{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 1200px;
    top: 550px;
}

.square2{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 100px;
    top: 550px;
    transform: rotate(-180deg);

}

#personal:hover{
    background-color: bisque;
    color: black;
}

#group:hover{
    background-color: bisque;
    color: #000;
}

#lec:hover{
    background-color: bisque;
    color: #000;
}